<p>Add a new CD:</p>

<form action="/cDs" method="post">
  <label for="description">CD Description</label>
  <input id="description" name="description" type="text">

  <button type="submit" class="btn btn-default">Add CD</button>
</form>
