<h1>Places you been to</h1>

#if ($places)
  <ul>
    #foreach ($place in $places)
      <li>$place.getDescription()</li>
    #end
  </ul>
#else
  <p>No Places!</p>
#end

<p>Add a new place:</p>

<form action="/places" method="post">
  <label for="description">Place Description</label>
  <input id="description" name="description" type="text">

  <button type="submit" class="btn btn-default">Add Place</button>
</form>
